# If you want electrum to appear in a linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install ElectronCash.desktop

[Desktop Entry]
Comment=Lightweight Bitcoin Cash Plus  Client
Exec=electron-cash-plus %u
GenericName=Bitcoin Cash Plus  Wallet
Icon=electron-cash-plus
Name=Electron Cash Plus
Categories=Finance;Network;
StartupNotify=false
Terminal=false
Type=Application
MimeType=x-scheme-handler/bitcoincashplus;
